
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env/
.venv/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log


*.joblib
*.h5
*.pt



datasets/

.ipynb_checkpoints/

.env.local
.env.production
.env

dump/

node_modules/

dist/
build/
